body {
    background-color: yellow;
}

.container {
    background: burlywood;
    display: inline-block;
    border: 5px solid black;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 37px);
    grid-template-rows: repeat(16, 37px);
    grid-gap: 1px;
}

.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 6px;
    font-weight: bold;
    background: white;

}

.cellHov{
    background-color: magenta;
}