body {
    background-color: yellow;
}

.container {
    background: burlywood;
    display: inline-block;
    border: 5px solid black;
    width: 650px;
    height: 650px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 1px;
}

.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 6px;
    font-weight: bold;
    background: rgb(216, 127, 127);
    width: auto;
    height: auto;

}

.cellHov{
    background-color: gray;
}

