/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



@font-face {
    font-family: inspiration;
    src: url("/fonts/Inspiration-Regular.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5deb3;
    display: flex;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;

}

#content {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template: minmax(400px, 520px) 60px 1fr/ 1fr minmax(590px, 2fr) 1fr;
    align-items: center;
}

#header {
    position: relative;
    bottom: 100px;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    font-family: inspiration, Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
}

header h1 {
    background-color: rgba(245, 222, 179, 0.705);
    padding: 10px 17px;

}

#videoContainer {
    display: flex;
    width: 100%;
    min-height: 300px;
    max-width: 1500px;
    justify-content: center;
    grid-area: 1 / 2;
    border-radius: 5px;
    z-index: 0;
}

#videoBanner {
    width: 100%;
    opacity: 92%;
    border-radius: 5px;
}

#navBar {
    display: flex;
    grid-area: 2 / 2;
    background-color: #b3caf5;
    width: minmax(400px, 100%);
    justify-content: space-around;
    border-radius: 5px;
    z-index: 2;
}

#navBar button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #b3caf5;
    border-radius: 3px;
    border: none;
    padding: 20px 30px;
    z-index: 3;
}

#navBar button:hover {
    color: rgb(255, 255, 255);
}

#info {
    text-align: center;
    grid-area: 3 / 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#imgContain img {
    width: 200px;
    animation: fadein 2s;
    box-shadow: 0px 0px .5px 1px grey;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#imgContain {
    grid-area: 3 / 2;
    display: flex;
    justify-content: space-evenly;
}

figure {
    font-family: Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}


#formContainer {
    grid-area: 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
    margin-top: 20px;
    height: 30px;
    border-radius: 3px;
    border: rgb(212, 212, 212) 1px solid;
}

input:focus {
    outline: #91a8d1 1px solid;
}

#Message {
    width: 200px;
    height: 60px;
}

#submitBtn {
    margin-top: 20px;
    width: 80px;
    height: 50px;
}

/* IPHONE QUERY DATA  */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #content {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template: 1fr 1fr 1fr/ 1fr;
        align-items: center;
    }

    #header {
        position: relative;
        top: 55px;
        display: flex;
        grid-area: 1 / 2;
        width: 100%;
        font-family: inspiration, Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
        white-space: nowrap;
        text-align: center;
        z-index: 2;
    }

    header h1 {
        width: 100%;
        background-color: rgba(245, 222, 179, 0.705);
        padding: 10px 10px;

    }

    #videoContainer {
        position: relative;
        bottom: 90px;
        grid-area: 1 / 2;
        height: 390px;
        display: flex;
        z-index: 0;
    }

    #videoBanner {
        justify-content: center;
        opacity: 85%;
    }

    #navBar {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #b3caf5;
        min-width: 300px;
        justify-content: space-around;
        border-radius: 50px;
        position: relative;
        bottom: 100px;
    }



    #navBar button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        background-color: #b3caf5;
        border-radius: 3px;
        border: none;
    }

    #info {
        position: relative;
        bottom: 120px;
        grid-area: 3 / 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }




    #imgContain {
        position: relative;
        bottom: 50px;
        left: 31%;
        overflow: hidden;
        width: 150px;
    }

    figure {
        font-family: Georgia, Times, 'Times New Roman', serif;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;
        position: relative;
        animation: 14s imgContain infinite;
        width: 150px;
    }

    #imgContain img {
        width: 150px;
        animation: fadein 2s;
        box-shadow: 0px 0px .5px 1px grey;
    }

    @keyframes imgContain {
        0% {
            left: 100%;
        }

        15% {
            left: 100%;
        }

        33% {
            left: 0%;
        }

        51% {
            left: 0%;
        }

        69% {
            left: -100%;
        }

        87% {
            left: -100%;
        }

        100% {
            left: 100%;
        }
    }

    #formContainer {
        position: relative;
        bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }

    input,
    #submitBtn {
        margin-top: 4px;
    }
}