/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* USER INVOKED STYLING BELOW */
@font-face {
    font-family: ABEEZEE;
    src: url(/assets/fonts/ABeeZee-Regular.ttf);
}

@font-face {
    font-family: marker;
    src: url(/assets/fonts/PermanentMarker-Regular.ttf);
}

:root {
    --sunny-day: linear-gradient(#e7b75f, #769eb9);
    --rainy-day: linear-gradient(#8891a8, #315268);
    --cloudy-day: linear-gradient(#b9b9b9e3, #666666);
    --snowy-day: linear-gradient(#d5d5d5, #cdd0d2);
}

html,
body {
    color: white;
    width: 100%;
    height: 100%;
}

body {
    backdrop-filter: blur(20px);
}


.sunnyDay {
    background: var(--sunny-day);
}

.cloudy {
    background: var(--cloudy-day);
}

.rainyDay {
    background: var(--rainy-day);
}

.snowyDay {
    background: var(--snowy-day);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

h1 {
    font-size: calc(2rem + 1vw);
    font-family: marker, sans-serif;
}

#content {
    height: calc(100% - 140px);
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
}

main {
    width: calc(100% - 360px);
    height: 100%;
}

#changeTempFormat {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 10px;
    color: white;
}

#changeTempFormat:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.062);
}

#searchBox {
    border: none;
    outline: none;
    display: flex;
    background-color: white;
    width: 240px;
    border-radius: 15px;
    padding: 5px 6px;
}

#inputBox {
    border: none;
    outline: none;
    padding: 5px 0;
    padding-left: 7px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
}

#inputContainer * {
    text-align: center;
    padding: 5px 0;
    margin: 2px 0;
}

#searchIcon {
    width: 25px;
}

#searchIcon:hover {
    cursor: pointer;
}

.forecastHeader {
    margin: 10px 0;
    padding: 4px 0;
}

#currentWeather {
    display: flex;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#hourlyForecast {
    display: flex;
    width: 1456px;
    overflow-x: scroll;
    border-radius: 10px;
    border: #3c4850 1px solid;
    scrollbar-width: none;
}

#futureWeather {
    display: flex;
    width: 100%;
}

#weeklyForecast {
    display: flex;
    width: 1456px;
    border: #3c4850 1px solid;
    height: 350px;
    margin-top: 1px;
    border-radius: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.hourCard {
    display: flex;
    justify-content: center;
    min-width: 206px;
    border: 1px solid rgba(248, 248, 248, 0.185);
}

.dayCard {
    display: flex;
    justify-content: center;
    min-width: 206px;
    border: 1px black solid;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.leftScroll {
    display: flex;
    align-items: center;
    position: relative;
    top: 140px;
    height: 60px;
    width: 20px;
    background-color: #315268;

}

.rightScroll {
    display: flex;
    align-items: center;
    position: relative;
    top: 140px;
    height: 60px;
    width: 20px;
    background-color: #315268;
}

#bigIcon {
    width: 100px;
    margin-bottom: 40px;
}